#collagen==0.0.1
cudatoolkit==10.1
deep-pipeline==0.2.5
dill
h5py
numba
numpy
matplotlib
omegaconf
opencv-python
pandas
pillow
pretrainedmodels
pytorch-toolbelt==0.3.2
pyyaml
scikit-image
scikit-learn
scipy
segmentation-models-pytorch==0.1.0
setuptools
solt==0.1.9
tensorboardx
tensorflow==2.3.0
tqdm
torch==1.7.1
torchvision==0.7.0
vtk==9.0.1
